{# templates/number.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="MDB-logo"
          src="https://donk.es/hmp/wp-content/uploads/2022/03/cropped-HydroMining-PY.png"
          alt="HydroMiningPY"
          draggable="false"
          height="106"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_es') }}">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('ofrecemos_es') }}">¿QUÉ OFRECEMOS?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_es') }}">MINAR VS COMPRAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_es') }}">RENTABILIDAD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_es') }}">PREGUNTAS FRECUENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#!">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_en') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="English" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('faq_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">

<div class="row"><h1 class="text-center text-white">Preguntas Frecuentes</h1><br><br><br><br></div>




    <div class="row justify-content-center">

          <div class="col-12">

          <div class="accordion" id="accordionExample">

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne" class="bg-dark">
                  <button class="accordion-button color-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa-solid fa-question"></i>&nbsp;&nbsp;  ¿Cómo se regula la relación entre HydroMiningPY y los clientes?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  Se regula mediante un contrato, cuyas condiciones varían en cuanto a su duración e importe mensual en función de los términos elegidos por cada cliente.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa-solid fa-question"></i>&nbsp;&nbsp;   ¿En qué consiste el hosting de HydroMiningPY?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  Consiste en el alojamiento del equipo del cliente y, como parte de este servicio, proporcionará y organizará en estantes y / o bastidores, proporcionando además capacidad eléctrica suficiente al voltaje y potencia requeridos, contando con monitoreo constante para proporcionar el servicio en las mejores condiciones.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa-solid fa-question"></i>&nbsp;&nbsp;   ¿Cuál es el uptime promedio del servicio?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  La empresa hace todos los esfuerzos comercialmente razonables para que el servicio de alojamiento esté disponible para el cliente el mayor tiempo posible cada mes.
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="fa-solid fa-question"></i>&nbsp;&nbsp; ¿Cuál es el precio del kWh en las instalaciones de HydrominingPY?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                  Siempre ofreceremos el mejor precio posible para la electricidad y usamos energías renovables para ello. Actualmente el precio es de 0.08 $ kWh.
                    </div>
                  </div>
                </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <i class="fa-solid fa-question"></i>&nbsp;&nbsp; ¿Qué hardware se admite en HydrominingPY?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        El hardware podrá ser adquirido de la Empresa, en cuyo caso se garantizará la instalación y funcionamiento del mismo en la fecha estipulada en el Contrato. En caso de que sea adquirido de un tercero, la Empresa inspeccionará el Equipo del Cliente para determinar la idoneidad del alojamiento y tiene total discreción para aceptar o rechazar cualquier Hardware del Cliente. Una vez recibido, inspeccionado y confirmado que el hardware del cliente está en pleno funcionamiento, La Empresa se encargará de la instalación del hardware del cliente en las instalaciones de alojamiento.
                      </div>
                    </div>
                  </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="fa-solid fa-question"></i>&nbsp;&nbsp;¿Cómo se realiza el pago del servicio a HydroMiningPY?
                        </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Las formas de pago aceptadas incluyen tarjeta de crédito, tarjeta de débito, transferencia bancaria y criptomonedas, a convenir. El tipo de cambio será el último precio negociado para dicha transacción de intercambio de criptomonedas a USD en el momento del pago.
                        </div>
                      </div>
                    </div>
              </div>
</div>




          </div>


    </div>

  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>




</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">

                     <li>
                        <p>  <img
                            id="MDB-logo"
                            src="https://donk.es/hmp/wp-content/uploads/2022/03/cropped-HydroMining-PY.png"
                            alt="HydroMiningPY"
                            draggable="false"
                            height="53"
                        /></p>
                      </li>

                 </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="contact">
                     <span>Contactar</span>
                     <li class="text-white">
                        <i class="fa-solid fa-location-dot fa-2xl"></i><br><br>  C/ Juana María de Lara, s/n ALTO PARANÁ Paraguay <br><br>
                      </li>

                      <li class="text-white">
                        <i class="fa-solid fa-envelope fa-2xl"></i><br><br>info@hydrominingpy.com <br><br>
                      </li>

                      <li class="text-white">
                      <i class="fa-solid fa-phone-volume fa-2xl"></i><br><br>+34 608 19 74 28 &nbsp;<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAflBMVEX/AAD9AAD3AADxAADrAAD/eXn9bGz8YWH8WVn6UVH5SEj5Pz/3NDT0Kir9/QD+/nL+/lT18lDt4Uf6+j/39zD39yf19R3n5wDxflXsZ1Pt4Y3x8zr0wbLs1NXz8xPj4wD37t3jmkvsUU/Bz6nrykm3vJ72IiL0FBTyDAvhAABEt4UZAAAAX0lEQVR4AQXBQUrFQBBAwXqTDkYE94Jb73+qfwVRcYxVQRBRToiUfoaVpGTrtdS9SO0Z9FR9lVy/g5c99+dKl30N5uxPuviexXEc9/msC7TOkd4kHu/Dlh4itCJ8AP4B0w4Qwmm7CFQAAAAASUVORK5CYII=" /> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="Red dot" /> <br>
                      +59 59 7124-2032 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="Red dot" /> <br>
                      +55 45 9802-7923 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Red dot" />
                      </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <ul class="social">

                   <li>
                      <button type="button" class="btn btn-warning text-white">Contactar</button>
                   </li>


                 </ul>
            </div>
       </div>
    </div>
</footer>




{% endblock %}
