{% extends 'base.html.twig' %}

{% block title %} HydrominingPY > Inicio {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">

  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="HydroMiningPY-logo"
          src="{{ asset("build/images/HydroMiningPY.png") }}"
          alt="HydroMiningPY"
          draggable="false"
          height="106"
          max-width="90%"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_es') }}">INICIO</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_es') }}">MINAR VS COMPRAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_es') }}">RENTABILIDAD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_es') }}">PREGUNTAS FRECUENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#!">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_en') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="English" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('inicio_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    </div>
  </div>
</nav>

<div class="container"><img src="https://donk.es/hmp/wp-content/uploads/2022/01/presa-de-agua-web.jpg" class="img-fluid" alt="Presa Itaipú"><br><br><br>

<div class="row"><h1 class="text-center titulo">¿Por Qué Minar Con Nosotros?</h1><br><br><br><br></div>

<div class="row">
    <div class="col-lg-6 col-sm-12">

    <p class="lh-lg">


    <ul>

    <li class="lh-lg">En HydrominingPY nuestra misión es proporcionar un servicio integral de minería de cryptoactivos, especialmente Bitcoin.</li>

<li class="lh-lg">Estamos ubicados en Paraguay porque brinda un entorno favorable para el ecosistema crypto y acceso a energía procedente de fuentes renovables.</li>

<li class="lh-lg">Nuestras instalaciones cuentan con seguridad privada 24 horas al día y nuestros equipos están asegurados a través de Cenit de Seguros S.A., ofreciendo así las máximas garantías a nuestros clientes.</li>

<li class="lh-lg">Conocemos todos los trámites aduaneros para que el cliente no se tenga que preocupar absolutamente por nada. Le asesoramos a la hora de la compra de tus mineros, según la opción más conveniente, proporcionando de nuestro importador de confianza una lista con todos los mineros disponibles y la cotización del día. </li>

<li class="lh-lg">Proporcionamos hosting a un coste energético muy bajo y un mantenimiento óptimo de los equipos de minería para garantizar su máxima vida útil, aceptando todo tipo de equipos de minería siempre que estén 100% operativos.</li>

<li class="lh-lg">Una vez esté funcionando nos ocuparemos de toda la gestión de pools y del mantenimiento de los equipos. Usted percibe sus ingresos sin tener que lidiar con las tareas asociadas a la minería.</li>



    </ul>
    </p>

    </div>
    <div class="col-lg-6 col-sm-12 text-center">

    <p class="lh-lg"><img src="{{ asset("build/images/s19.png") }}" class="img-fluid" alt="..."></p>

    </div>
  </div>

  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row">

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/bitmain.jpg") }}" class="img-fluid" alt="">
</div>

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/cenit.png") }}" class="img-fluid" alt="">
</div>

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/protek.jpg") }}" class="img-fluid" alt="">
</div>

<br><br>


</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>






  <div class="row">
      <div class="col">
      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
          <p><i class="fa-solid fa-comment-dots fa-2xl"></i><br></p>
          <h1>&nbsp;&nbsp;Contacto</h1>
        </div>
        <div class="flip-card-back">

          <p>Contactamos y se acuerdan los términos del contrato.</p>

        </div>
      </div>
    </div>

      </div>
      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
          <p><i class="fa-solid fa-check-double fa-2xl"></i><br></p>
          <h1>&nbsp;&nbsp;Ejecución</h1>
        </div>
        <div class="flip-card-back">

          <p>El cliente otorga el mandato a Hydrominingpy para la compra de equipos.</p>
        </div>
      </div>
    </div>

      </div>

      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
        <p><i class="fa-solid fa-cart-shopping fa-2xl"></i><br></p>
        <h1>&nbsp;&nbsp;Compra</h1>
        </div>
        <div class="flip-card-back">

          <p>Luego de realizada la compra e importación, Hydrominingpy vende y transfiere la propiedad de los equipos a nombre del cliente.</p>
        </div>
      </div>
    </div>


      </div>
      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
            <p><i class="fa-solid fa-gear fa-2xl"></i><br></p>
          <h1>&nbsp;&nbsp;Gestión</h1>
        </div>
        <div class="flip-card-back">

          <p>Realizamos para el cliente la gestión de los equipos para producción de criptomonedas así como la configuración, monitoreo y control de los mismos.</p>
        </div>
      </div>
    </div>


      </div>

    </div>

<br><br>


</div>

 {% include 'footer_es.html.twig' %}

{% endblock %}
