{# templates/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} HydrominingPY > Home {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="HydroMiningPY-logo"
          src="{{ asset("build/images/HydroMiningPY.png") }}"
          alt="HydroMiningPY"
          draggable="false"
          height="106"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_en') }}">HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_en') }}">MINING VS BUYING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_en') }}">PROFITABILITY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_en') }}">FREQUENTLY ASKED QUESTIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_es') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAflBMVEX/AAD9AAD3AADxAADrAAD/eXn9bGz8YWH8WVn6UVH5SEj5Pz/3NDT0Kir9/QD+/nL+/lT18lDt4Uf6+j/39zD39yf19R3n5wDxflXsZ1Pt4Y3x8zr0wbLs1NXz8xPj4wD37t3jmkvsUU/Bz6nrykm3vJ72IiL0FBTyDAvhAABEt4UZAAAAX0lEQVR4AQXBQUrFQBBAwXqTDkYE94Jb73+qfwVRcYxVQRBRToiUfoaVpGTrtdS9SO0Z9FR9lVy/g5c99+dKl30N5uxPuviexXEc9/msC7TOkd4kHu/Dlh4itCJ8AP4B0w4Qwmm7CFQAAAAASUVORK5CYII=" alt="Spanish" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('inicio_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container"><img src="https://donk.es/hmp/wp-content/uploads/2022/01/presa-de-agua-web.jpg" class="img-fluid" alt="Presa Itaipú"><br><br><br>

<div class="row"><h1 class="text-center titulo">Why Mine With Us?</h1><br><br><br><br></div>

<div class="row">
    <div class="col-lg-6 col-sm-12">

    <p class="lh-lg">

    <ul>

    <li class="lh-lg">At HydrominingPY our mission is to provide a comprehensive cryptoasset mining service, especially Bitcoin.</li>

<li class="lh-lg">We are located in Paraguay because it provides a favourable environment for the crypto ecosystem and access to energy from renewable sources.</li>

<li class="lh-lg">Our facilities have private security 24 hours a day and our equipment is insured through Cenit de Seguros S.A., thus offering maximum guarantees to our customers.</li>

<li class="lh-lg">We know all the customs procedures so that the client does not have to worry about anything at all. We advise you when purchasing your miners, according to the most convenient option, providing from our trusted importer a list with all the available miners and the quotation of the day.
</li>

<li class="lh-lg">We provide hosting at a very low energy cost and optimal maintenance of mining equipment to ensure maximum life span, accepting all types of mining equipment as long as they are 100% operational.</li>

<li class="lh-lg">Once up and running we will take care of all pool management and equipment maintenance. You receive your income without having to deal with the tasks associated with mining.</li>



    </ul>
    </p>

    </div>
    <div class="col-lg-6 col-sm-12 text-center">

    <p class="lh-lg"><img src="{{ asset("build/images/s19.png") }}" class="img-fluid" alt="..."></p>

    </div>
  </div>

  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row">

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/bitmain.jpg") }}" class="img-fluid" alt="">
</div>

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/cenit.png") }}" class="img-fluid" alt="">
</div>

<div class="col-lg-4 col-sm-12 text-center">
<img src="{{ asset("build/images/protek.jpg") }}" class="img-fluid" alt="">
</div>

<br><br>


</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

  <div class="row">
      <div class="col">
      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
          <p><i class="fa-solid fa-comment-dots fa-2xl"></i></p>
          <h1>&nbsp;&nbsp;Contact</h1>
        </div>
        <div class="flip-card-back">

          <p>We get in touch and the terms of the contract are agreed.</p>

        </div>
      </div>
    </div>

      </div>
      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
        <p><i class="fa-solid fa-check-double fa-2xl"></i></p>

          <h1>&nbsp;&nbsp;Execution</h1>
        </div>
        <div class="flip-card-back">
          <p>The client gives the mandate to Hydrominingpy for the purchase of the equipments.</p>
        </div>
      </div>
    </div>

      </div>

      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
        <p><i class="fa-solid fa-cart-shopping fa-2xl"></i></p>

        <h1>&nbsp;&nbsp;Purchase</h1>
        </div>
        <div class="flip-card-back">
          <p>After the purchase and import is made, Hydrominingpy sells and transfers the ownership of the equipment on behalf of the client.</p>
        </div>
      </div>
    </div>


      </div>
      <div class="col">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex flex-wrap align-items-center">
        <p><i class="fa-solid fa-gear fa-2xl"></i></p>

          <h1>&nbsp;&nbsp;Management</h1>
        </div>
        <div class="flip-card-back">
          <p>We carry out for the client the management of the equipment for the production of cryptocurrencies as well as their configuration, monitoring and control.</p>
        </div>
      </div>
    </div>


      </div>

    </div>

<br><br>


</div>

 {% include 'footer_en.html.twig' %}

{% endblock %}
