{# templates/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} HydrominingPY > Minar VS Comprar {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">


  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="HydroMiningPY-logo"
          src="{{ asset("build/images/HydroMiningPY.png") }}"
          alt="HydroMiningPY"
          draggable="false"
          height="106"

      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_es') }}">INICIO</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_es') }}">MINAR VS COMPRAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_es') }}">RENTABILIDAD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_es') }}">PREGUNTAS FRECUENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('contacto_es') }}">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_en') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg==" alt="English" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('minarvscomprar_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    </div>
  </div>
</nav>

<div class="container">

<div class="row"><h1 class="text-center titulo">Minar VS Comprar</h1><br><br><br><br></div>

<div class="row">
    <div class="col-6">
      <img src="{{ asset("build/images/sencillo.png") }}" class="img-fluid"/>
      <h4 >Es Sencillo</h4>
      <p class="text-left">Minar Bitcoin no es complicado ni costoso.</p>

    </div>

    <div class="col-6">
    <img src="{{ asset("build/images/roi2.png") }}" class="img-fluid"/>
    <h4>Retorno De La Inversión</h4>
    <p class="text-left">El retorno de la inversión (ROI) de minar actualmente está entre los 12-14 meses. Esto quiere decir, que los precios de las máquinas oscilan entre este rango.<br><br></p>

    </div>

  </div>

  <div class="row">
      <div class="col-6">
        <img src="{{ asset("build/images/privado.png") }}" class="img-fluid"/>
        <h4>Es Privado</h4>
        <p class="text-left">Minar es privado, económico, y retorna entre 4-5x más en promedio vs comprar y holdear.</p>

      </div>

      <div class="col-6">
      <img src="{{ asset("build/images/vidautil.png") }}" class="img-fluid"/>
      <h4>Vida Útil</h4>
      <p class="text-left">Para la ultima generación de mineros fabricados por Bitmain y con los que aconsejamos minar (S19), se estima una vida util entre 7-8 años.</p>

      </div>

    </div>

    <div class="row">
        <div class="col-6">
          <img src="{{ asset("build/images/dca.png") }}" class="img-fluid"/>
          <h4>DCA</h4>
          <p class="text-left">Minar BTC es una manera de DCA ( Dollar Cost Average) o promediar precios de venta, si planeas vender continuamente tus BTC.</p>

        </div>

        <div class="col-6">
        <img src="{{ asset("build/images/roi.png") }}" class="img-fluid"/>
        <h4 >Amortización De La Inversión</h4>
        <p class="text-left">Si quieres comprar por ejemplo $10k de BTC y enviarlos a una cartera fría, considera poner esa misma inversión a trabajar y compra un ASIC, el cual se pagará por si solo en 12-14 meses, y para entonces tendrás un minero pagado con bastantes años de rentabilidad por minar.<br><br></p>

        </div>

      </div>

      <div class="row">
          <div class="col-6">
            <img src="{{ asset("build/images/energybtc.png") }}" class="img-fluid"/>
            <h4 >Energía - BTC</h4>
            <p class="text-left">En lugar de adquirir los BTC en una casa de intercambio o exchange, los estarias adquiriendo con tu minero, y pagando a tu proveedor de energía.</p>

          </div>

          <div class="col-6">


          </div>

        </div>


  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>



</div>

 {% include 'footer_es.html.twig' %}



{% endblock %}
