{# templates/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} HydrominingPY > Mining VS Buying {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="HydroMiningPY-logo"
          src="{{ asset("build/images/HydroMiningPY.png") }}"
          alt="HydroMiningPY"
          draggable="false"
          height="106"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_en') }}">HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_en') }}">MINING VS BUYING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_en') }}">PROFITABILITY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_en') }}">FREQUENTLY ASKED QUESTIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_es') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAflBMVEX/AAD9AAD3AADxAADrAAD/eXn9bGz8YWH8WVn6UVH5SEj5Pz/3NDT0Kir9/QD+/nL+/lT18lDt4Uf6+j/39zD39yf19R3n5wDxflXsZ1Pt4Y3x8zr0wbLs1NXz8xPj4wD37t3jmkvsUU/Bz6nrykm3vJ72IiL0FBTyDAvhAABEt4UZAAAAX0lEQVR4AQXBQUrFQBBAwXqTDkYE94Jb73+qfwVRcYxVQRBRToiUfoaVpGTrtdS9SO0Z9FR9lVy/g5c99+dKl30N5uxPuviexXEc9/msC7TOkd4kHu/Dlh4itCJ8AP4B0w4Qwmm7CFQAAAAASUVORK5CYII=" alt="Spanish" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('minarvscomprar_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">

<div class="row"><h1 class="text-center titulo">Mining VS Buying</h1><br><br><br><br></div>

<div class="row">
    <div class="col-6">
      <img src="{{ asset("build/images/sencillo.png") }}" class="img-fluid"/>
      <h4 >IT’S SIMPLE</h4>
      <p class="text-left">Mining Bitcoin is not complicated or expensive.</p>

    </div>

    <div class="col-6">
    <img src="{{ asset("build/images/roi2.png") }}" class="img-fluid"/>
    <h4 >RETURN OF INVESTMENT</h4>
    <p class="text-left">The return on investment (ROI) of mining is currently between 12-14 months. This means that machine prices are in this range.<br><br></p>

    </div>

  </div>

  <div class="row">
      <div class="col-6">
        <img src="{{ asset("build/images/privado.png") }}" class="img-fluid"/>
        <h4 >IT’S PRIVATE</h4>
        <p class="text-left">Mining is private, inexpensive, and returns 4-5x more on average vs buying and hodling.</p>

      </div>

      <div class="col-6">
      <img src="{{ asset("build/images/vidautil.png") }}" class="img-fluid"/>
      <h4 >LIFESPAN</h4>
      <p class="text-left">For the latest generation of miners manufactured by Bitmain and with which we recommend mining (S19), the estimated lifetime is between 7-8 years.</p>

      </div>

    </div>

    <div class="row">
        <div class="col-6">
          <img src="{{ asset("build/images/dca.png") }}" class="img-fluid"/>
          <h4 >DCA</h4>
          <p class="text-left">Mining BTC is a way to DCA (Dollar Cost Average) or average selling prices, if you plan to continually sell your BTC.</p>

        </div>

        <div class="col-6">
        <img src="{{ asset("build/images/roi.png") }}" class="img-fluid"/>
        <h4 >INVESTMENT AMORTIZATION</h4>
        <p class="text-left">If you want to buy for example $ 10k of BTC and send it to a cold wallet, consider putting that same investment to work and buy an ASIC, which will pay for itself in 12-14 months, and by then you will have a miner paid with enough years of profitability to be mined.<br><br></p>

        </div>

      </div>

      <div class="row">
          <div class="col-6">
              <img src="{{ asset("build/images/energybtc.png") }}" class="img-fluid"/>
            <h4 >ENERGY - BTC</h4>
            <p class="text-left">Instead of acquiring the btc in a house of exchange or exchange, you would be acquiring them with your miner, and paying your energy provider.</p>

          </div>

          <div class="col-6">


          </div>

        </div>


  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>



</div>

 {% include 'footer_en.html.twig' %}




{% endblock %}
