{# templates/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} HydrominingPY > What Do We Offer? {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#">
        <img
          id="HydroMiningPY-logo"
          src="{{ asset("build/images/HydroMiningPY.png") }}"
          alt="HydroMiningPY"
          draggable="false"
          height="106"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('inicio_en') }}">HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('minarvscomprar_en') }}">MINING VS BUYING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('rentabilidad_en') }}">PROFITABILITY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('faq_en') }}">FREQUENTLY ASKED QUESTIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{{ path('ofrecemos_es') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAflBMVEX/AAD9AAD3AADxAADrAAD/eXn9bGz8YWH8WVn6UVH5SEj5Pz/3NDT0Kir9/QD+/nL+/lT18lDt4Uf6+j/39zD39yf19R3n5wDxflXsZ1Pt4Y3x8zr0wbLs1NXz8xPj4wD37t3jmkvsUU/Bz6nrykm3vJ72IiL0FBTyDAvhAABEt4UZAAAAX0lEQVR4AQXBQUrFQBBAwXqTDkYE94Jb73+qfwVRcYxVQRBRToiUfoaVpGTrtdS9SO0Z9FR9lVy/g5c99+dKl30N5uxPuviexXEc9/msC7TOkd4kHu/Dlh4itCJ8AP4B0w4Qwmm7CFQAAAAASUVORK5CYII=" alt="Spanish" /></a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-2" href="{{ path('ofrecemos_pt') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABL0lEQVR4AV2RA2yEQRCFNxcnRVw3qG3bthXUbZxaUaOGRVA7ro2wDWoEtW2b9/b2nHx3v943uztDSAwhAQJ86P83keCJw2HcEAJoqLivmJHbnQt+s7OFfMXHMz5DAgBPCKBCUktSRmdK43Dw3Gz451TIc68nPr+7uLzZWr2Zm78bGLxpa797e1+IC0erUeAmL+ol3R8CEE+/qqvDv2BbwjYi6yJR+6Ys5m5zA0C7HbWEIEy/KCpKC8uzQRf5fkivX3zBZIIw/Swvj8cTKthRIbDGDwcYnXRF7avy/KM5q8NZg2cDPWEaYHt8AceFACBsTdui9nmn8VWmpngawN+ngiEVHCocGM5Vpu8G0rUB5iAS0CKAYwCsg/YB1lPWKESBSCAqhMiKwHQueJwI2BeDC83C2lDIxUCuAAAAAElFTkSuQmCC" alt="Portuguese" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">

<div class="row"><h1 class="text-center titulo">What Do We Offer?</h1><br><br><br><br></div>

<div class="row">
    <div class="col-2">
      <img src="https://donk.es/hmp/wp-content/uploads/2022/03/computer-128.png" class="img-fluid"/><br><br>

    </div>

    <div class="col-10">

    <h4 >ADVICE ON BUYING AND IMPORTING OF MINING EQUIPMENT</h4>
    <p class="text-left">We are registered as regular importers and know all customs formalities, this way the customer doesn’t have to worry about absolutely anything. We will advice you at the moment of purchasing your mining equipment, depending on the most convenient option.</p>

    </div>

  </div>

  <div class="row">
      <div class="col-2">
        <img src="https://donk.es/hmp/wp-content/uploads/2022/03/paper-128.png" class="img-fluid"/><br><br>

      </div>

      <div class="col-10">

      <h4 >DAILY QUOTATION</h4>
      <p class="text-left">We can provide the customer, through previous request, a list of all available mining equipment and their daily price, obtained from our trustful provider.</p>

      </div>

    </div>

    <div class="row">
        <div class="col-2">
          <img src="https://donk.es/hmp/wp-content/uploads/2022/03/house-128.png" class="img-fluid"/><br><br>

        </div>

        <div class="col-10">

        <h4 >HOSTING </h4>
        <p class="text-left">We provide hosting for mining equipement with a very low energetic cost, as well as optimum maintenance for mining equipment to ensure their maximum useful life span.<br><br>

        We accept all kinds of mining equipment given that they are 100% operational. The hosting contract will vary depending on the model of the mining equipment and its characteristics.<br><br></p>

        </div>

      </div>

      <div class="row">
          <div class="col-2">
            <img src="https://donk.es/hmp/wp-content/uploads/2022/03/online-support-128.png" class="img-fluid"/><br><br>

          </div>

          <div class="col-10">

          <h4 >SUPPORT </h4>
          <p class="text-left">We manage all pools and maintenance of the mining equipment. You will receive your generated income without having to handle the tasks required for mining.<br><br>

          We will help and assess you in everything that’s necessary to start mining, from the beginning until you have your mining equipment fully operational.<br><br></p>

          </div>

        </div>

  <div class="row mt-2">

  </div>

  <div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>

<div class="row mt-2">

</div>




</div>

 {% include 'footer_en.html.twig' %}




{% endblock %}
